# -----------------
# Python
# -----------------
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/
env/
pyvenv.cfg
pip-selfcheck.json

# Distribution / packaging
build/
dist/
downloads/
*.egg-info/
.eggs/
*.egg

# Logs & reports
*.log
.coverage*
nosetests.xml
coverage.xml
*.cover
htmlcov/
.tox/
.cache/
.hypothesis/

# dotenv
.env

# -----------------
# PyCharm
# -----------------
.idea/
*.iml